.giants-con{
    display: inline-flex;
    flex-direction: column;
}
.giants-con section{
    /* width: 100vw;
    height: 100vh; */
}
.inner-wrap{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-title{
    font-size: 3rem;
    height: 50px;
}
.sub-title{
    font-size: 2rem;
}

.main-con{
    width: 100vw;
    height: 100vh;
}
.main-con .main-img{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../lib/images/main.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    overflow: hidden;
}
.main-con .main-img:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    content: '';
}
.main-con .main-img .effect-box{
    position: relative;
    float: left;
    background: inherit;
    overflow: hidden;
    z-index: 20;
    opacity: 0;
    transition-duration: 2s;
}
.main-con .main-img .effect-box.active{
    /* transform: translate(0px) scale(1) skew(0deg) rotate(0deg); 기본 값 */
    opacity: 1;
}
.main-con .main-img .effect-box .effect-position{
    position: absolute;
    background: inherit;
}

.issue-con{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
}
.issue-con .issue-content-con{
    display: flex;
    height: 100%;
    gap: 50px;
}
.issue-img-con{
    flex: 1 0 200px;
    height: 100%;
}
.issue-img-con .issue-img{
    width: 100%;
    height: 100%;
    background-image: url('../lib/images/issue-img.jpeg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}
.issue-text-con{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0 200px;
}
.issue-text-con .issue-title{
    font-size: 4rem;
    flex: 1 0 100px;
}
.issue-text-con .issue-comment{
    font-size: 2rem;
    flex: 4 0 100px;
    line-height: 5rem;
    overflow-y: scroll;
}
.lineup-con{
    display: inline-block;
    position: relative;
    height: 100vh;
}
.lineup-img{
    width: 100%;
    height: 100%;
}
.lineup-img .lineup-img-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    height: 100%;
}
.lineup-con .lineup-position-con{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 99;
}
.lineup-position-con .player-back-btn{
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 2rem;
}

.position-inner .position-name{
    height: 10%;
    font-size: 3rem;
}
.position-inner .position-player{
    display: flex;
    height: 90%;
    gap: 5%;
}
.position-player .player-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}
.position-player .player-list .player{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 30%;
    background: white;
}
.player .player-image{
    width: 100%;
}
.player .player-image img{
    width: 100%;
}
.player .player-name{
    width: 90%;
}
.player .player-no{
    width: 10%;
}
.player .player-info{
    
}

.position-player .player-picture{
    width: 50%;
    height: 100%;
    background: white;
    overflow: hidden;
}


.rank-con{
    position: relative;
    height: 100vh;
}
.rank-con .rank-list-con,
.rank-con .rank-final-con{
    width: 50%;
    height: 100%;
    float: left;
}
.rank-list-con .rank-list{
    display: flex;
    flex-direction: column;
}
.rank-list .rank-team{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.rank-final-con .rank-final-image{
    width: 100%;
    height: 80%;
    overflow: hidden;
}