.news-con{
    display: inline-flex;
    flex-direction: column;
}
.news-con section{
    width: 100vw;
    height: 100vh;
}
.issue-con{
    background: blue;
}
.lineup-con{
    background: green;
}
.keyplayer-con{
    background: yellow;
}
.inoutplayer-con{
    background: red;
}