.ground {
    /* background: rgba(6, 32, 69, 1); */
}

.year-con{
    position: absolute;
    top: 50%;
    width: 100px;
    height: 300px;
    transform: translateY(-50%);
    overflow: hidden;
}
.year-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.year-con .year-list .year {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}
.year-con .year-list .year.selected {
    font-size: 8rem;
}


.main-con {
    width: 100vw;
    height: 100vh;
    background: blanchedalmond;
}