.ground {
    width: 100vw;
    height: 100vh;
    background: rgba(6, 32, 69, 1);
}
.year-con{
    position: fixed;
    top: 50%;
    width: 100px;
    height: 300px;
    transform: translateY(-50%);
    background: beige;
}
.year-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.year-con .year-list .year {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1rem;
    color: white;
}
.year-con .year-list .year.selected {
    font-size: 8rem;
}