html{
    /* scroll-behavior: smooth; */
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.ground {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.main-ground {
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgb(6, 32, 69);
}
.main-logo-con {
    width: 40vw;
}
.logo-img-con {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo-img-con img {
    width: 60%;
}
.main-menu-con {
    display: flex;
    flex-flow: row wrap;
    margin: 5vw 0;
    color: white;
}
.main-menu-con .btn-menu{
    flex: 1;
    text-align: center;
    margin: auto 0;
}
.main-menu-con .btn-menu:nth-child(2){
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.main-menu-con .btn-menu h5{
    transition-duration: 1s;
    cursor: pointer;
}
.main-menu-con .btn-menu h5:hover{
    transform: scale(1.2);
}
.btn-year-con{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}
.btn-year-con:hover h3{
    color: rgb(208, 0, 36);
    -webkit-text-stroke: white 1px;
}
.btn-year-con h3{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    -webkit-text-stroke: rgb(208, 0, 36) 1px;
    transition-duration: 1s;
}

.issue-ground {
    position: relative;
    background: rgb(6, 32, 69);
}
.issue-ground .issue-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    overflow: hidden;
    height: 100%;
}
.issue-list .issue-con {
    width: 70vw;
    padding: 0 15vw;
}
.issue-img-con {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.issue-img-con img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    transition-duration: 1s;
    opacity: 0;
}
.issue-img-con .issue-img-on{
    opacity: 1;
}
.issue-text-con {
    color: white;
}
.issue-text-con h1{
    padding: 20px;
    font-size: 2rem;
    font-weight: 600;
}
.issue-text-con p{
    padding: 0 20px 20px;
    font-size: 1.2rem;
    line-height: 2rem;
}
.issue-text-con span{
    display: inline-block;
    position: relative;
    transition: 1s;
}
.issue-text-effect-off{
    bottom: 50px;
    opacity: 0;
}
.issue-text-effect-on{
    bottom: 0;
    opacity: 1;
}

.player-con{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(6, 32, 69);
}
.player-con .player{
    position: absolute;
    transform: translateX(-50%);
    transition-duration: 1s;
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-text-stroke: white 1px;
    /* -webkit-text-stroke: white 1px; */
    cursor: pointer;
}
.player-con .player:hover{
    font-size: 3rem;
    color: rgb(208, 0, 36);
    -webkit-text-stroke: rgb(6, 32, 69) 2px;
    z-index: 100;
}
.player-con .player .position{
    /* display: none; */
    opacity: 0;
    font-size: 0rem;
    transition-duration: 1.5s;
    -webkit-text-stroke: rgb(6, 32, 69) 2px;
}
.player-con .player:hover .position{
    /* display: inline; */
    font-size: 2rem;
    opacity: 1;
    color: rgb(208, 0, 36);
    -webkit-text-stroke: rgb(6, 32, 69) 2px;
}

.gallery-ground{
    background: rgb(6, 32, 69);
}

.btn-home-con{
    position: fixed;
    top: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    z-index: 200;
    opacity: 0;
    transition-duration: 2s;
    cursor: pointer;
}
.btn-home-con.logo-visible {
    opacity: 1;
}
.btn-home-con img{
    width: 100%;
    height: 100%;
}

.year-ground{
    position: relative;
    overflow: hidden;
}
.year-con{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(180deg, rgb(6, 32, 69), rgb(208, 0, 36))
}
.year-con .year{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid white;
    transition-duration: 1s;
    cursor: pointer;
}
.year-con .year:hover{
    background: white;
    color: rgb(6, 32, 69);
}
.year-logo-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60vw;
    transform: translate(20%, 20%);
    opacity: 0.5;
}
.year-logo-img img{
    width: 100%;
}
