section{
  width: 100vw;
  height: 100vh;
  background-color: #928372;
}

/* -------------------- main-section -------------------- */
.main-section{

}

/* -------------------- year-section -------------------- */
.year-section{
  
}
.year-list{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.year-item{
  
}
.year-item span{
  font-size: 1.2rem;
}

/* -------------------- legend-section -------------------- */
.legend-section{

}
/* -------------------- honor-section -------------------- */
.honor-section{

}