body * {
  font-family: "BM Hanna Pro", "BM Hanna Air";
}

section {
  width: 100vw;
  height: 100vh;
  background-color: #928372;
}

/* -------------------- common -------------------- */
button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  border: none;
}
button.button-blue {
  background-color: #062045;
  color: #FFFFFF;
}
button.button-red {
  background-color: #D00024;
  color: #FFFFFF;
}
button.button-darkgray {
  background-color: #333333;
  color: #FFFFFF;
}
button.button-lightgray {
  background-color: #DDDDDD;
  color: #333333;
}

/* -------------------- main-section -------------------- */
.main-section {
  background-color: #ccc;
}

/* -------------------- year-section -------------------- */
.year-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.year-section .year-wrap {
  display: flex;
  width: 1040px;
  height: 580px;
}
.year-section .year-wrap .year-list-con {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 4 1 0;
}
.year-section .year-wrap .year-list-con .year-list {
  padding: 0 50px;
}
.year-section .year-wrap .year-list-con .year-list .year-item {
  padding-left: 30px;
  font-size: 32px;
  line-height: 50px;
  border-left: 3px solid #707070;
}
.year-section .year-wrap .year-content-con {
  display: flex;
  flex-flow: column nowrap;
  flex: 6 1 0;
}
.year-section .year-wrap .year-content-con .year-image-con {
  flex: 2 1 0;
  background: purple;
}
.year-section .year-wrap .year-content-con .year-desc-con {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  padding: 0 15px;
}
.year-section .year-wrap .year-content-con .year-desc-con .year-title {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  font-size: 32px;
}
.year-section .year-wrap .year-content-con .year-desc-con .year-desc {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  font-size: 16px;
}
.year-section .year-wrap .year-content-con .year-desc-con .year-button-con {
  margin-top: 20px;
  text-align: right;
}
.year-section .emblem-wrap {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.year-section .emblem-wrap .emblem-list {
  display: flex;
  gap: 20px;
}
.year-section .emblem-wrap .emblem-list .emblem-item {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition-duration: 0.5s;
  cursor: pointer;
}
.year-section .emblem-wrap .emblem-list .emblem-item.emblem01 {
  background-image: url("../../public/images/emblem/emblem-01.png");
}
.year-section .emblem-wrap .emblem-list .emblem-item.emblem02 {
  background-image: url("../../public/images/emblem/emblem-02.png");
}
.year-section .emblem-wrap .emblem-list .emblem-item.emblem03 {
  background-image: url("../../public/images/emblem/emblem-03.png");
}
.year-section .emblem-wrap .emblem-list .emblem-item.emblem04 {
  background-image: url("../../public/images/emblem/emblem-04.png");
}
.year-section .emblem-wrap .emblem-list .emblem-item.emblem05 {
  background-image: url("../../public/images/emblem/emblem-05.png");
}
.year-section .emblem-wrap .emblem-list .emblem-item.emblem06 {
  background-image: url("../../public/images/emblem/emblem-06.png");
}
.year-section .emblem-wrap .emblem-list .emblem-item:hover {
  filter: grayscale(0);
  transform: translate(0, -5%);
}

/* -------------------- legend-section -------------------- */
.legend-section {
  background-color: #999;
}

/* -------------------- honor-section -------------------- *//*# sourceMappingURL=index.css.map */