@import "./color.scss";
body * {
  font-family: 'BM Hanna Pro', 'BM Hanna Air';
}
section{
  width: 100vw;
  height: 100vh;
  background-color: #928372;
}
/* -------------------- common -------------------- */
button{
  width: 120px;
  height: 40px;
  font-size: 16px;
  border: none;
  
  &.button-blue{
    background-color: $p2;
    color: $p3;
  }
  &.button-red{
    background-color: $p1;
    color: $p3;
  }
  &.button-darkgray{
    background-color: $b2;
    color: $p3;
  }
  &.button-lightgray{
    background-color: $b5;
    color: $b2;
  }
}
/* -------------------- main-section -------------------- */
.main-section{
  background-color: #ccc;
}

/* -------------------- year-section -------------------- */
.year-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .year-wrap{
    display: flex;
    width: 1040px;
    height: 580px;
    background: red;
    .year-list-con{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      flex: 4 1 0;
      background: blue;
      .year-list{
        padding: 0 50px;
        .year-item{
          padding-left: 30px;
          font-size: 32px;
          line-height: 50px;
          border-left: 3px solid $b4;
        }
      }
    }
    .year-content-con{
      display: flex;
      flex-flow: column nowrap;
      flex: 6 1 0;
      background: green;
      .year-image-con{
        flex: 2 1 0;
        background: purple;
        .year-image{

        }
      }
      .year-desc-con{
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 0;
        padding: 0 15px;
        .year-title{
          display: flex;
          align-items: center;
          flex: 1 1 0;
          font-size: 32px;
        }
        .year-desc{
          display: flex;
          align-items: center;
          flex: 1 1 0;
          font-size: 16px;
        }
        .year-button-con{
          margin-top: 20px;
          text-align:right;
        }
      }
    }
  }
}

/* -------------------- legend-section -------------------- */
.legend-section{
  background-color: #999;

}
/* -------------------- honor-section -------------------- */
.honor-section{

}